<button (click) = "listarTudo()">Lista</button>
<ul class ="pokemon">
<li *ngFor="let item of lista"> 
<div (click) = "pegarpokemon(item.name)">
        <span class="badge">{{item.name}}</span><br>
        <img [src]="item.imagem"> 
</div>
</li>
<button (click) = "paginaanterior()"> Anterior</button>
<button (click) = "proximapagina()"> Próximo</button>

<div class="pokemons"*ngIf="pokemon">
    <span>{{pokemon.name}}</span>
    <img [src]="pokemon.sprites.front_default">
    <span>ID: {{pokemon.id}}</span><br>
    <span>{{pokemon.height}}</span><br>
    <span>{{pokemon.weight}}</span><br>
</div>
</ul>